<p id="notice"><%= notice %></p>

<p>
  <strong>Mp:</strong>
  <%= @saidafisica.mp %>
</p>

<p>
  <strong>Batch:</strong>
  <%= @saidafisica.batch %>
</p>

<p>
  <strong>Exped:</strong>
  <%= @saidafisica.exped %>
</p>

<p>
  <strong>Qtde:</strong>
  <%= @saidafisica.qtde %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @saidafisica.lote %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @saidafisica.validade %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @saidafisica.obs %>
</p>

<%= link_to 'Edit', edit_saidafisica_path(@saidafisica) %> |
<%= link_to 'Back', saidafisicas_path %>
