<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @status.tipo %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @status.obs %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
