		  <td><ul class="nav nav-pills">
		           <li class="active"><%= link_to '+', new_mp_path %></a></li> </ul></td>


<h1>Lista de Matérias Primas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Apelido</th>
      <th>Unidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mps.each do |mp| %>
      <tr>
        <td><%= mp.nome %></td>
        <td><%= mp.apelido %></td>
        <td><%= mp.unidade.sigla %></td>
		
	  <td><ul class="nav nav-pills">
	           <li class="active"><%= link_to 'Mostrar', mp %></a></li> </ul></td>

	  <td><ul class="nav nav-pills">
	<li class="active"><%= link_to 'Editar', edit_mp_path(mp) %></a></li> </ul></td>

	  <td><ul class="nav nav-pills">
	<li class="active"><%= link_to 'Deletar', mp, method: :delete, data:{ confirm: 'Tem certeza ?'} %></a></li> </ul></td>
		

      </tr>
    <% end %>
  </tbody>
</table>

<br>

