<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @mp.nome %>
</p>

<p>
  <strong>Apelido:</strong>
  <%= @mp.apelido %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @mp.unidade.sigla %>
</p>

<%= link_to 'Editar', edit_mp_path(@mp) %> |
<%= link_to 'Voltar', mps_path %>


<hr>
<h4>Saldo =   <%= @mp.entradas.sum(:qtde) - @mp.saidas.sum(:qtde) %> litros</h4>
<hr>


	
	<h2> Entradas </h2>
  <h4>Total=<%= @mp.entradas.sum(:qtde)%> litros</h4>
   <table class="table table-striped">
   <thead>
    <tr>
      <th>Status</th>
	  <th>Lote</th>
	  <th>NF de ent</th>
    <th>Data Entrada</th>
     <th>Validade</th>
    <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
           <% @mp.entradas.each do |entrada| %>
      <tr>

        <td>
          <%if entrada.status_id == 1 %>
		  <p align='center'>  <img src="http://cooper1.s3.amazonaws.com/sem_amar.jpg" /> </p>
         
          <% elsif entrada.status_id == 2 %>
		  <p align='center'>  <img src="http://cooper1.s3.amazonaws.com/sem_verde.jpg" /> </p>
        
          <% elsif entrada.status_id == 3 %>
		  <p align='center'>  <img src="http://cooper1.s3.amazonaws.com/sem_verm.jpg" /> </p>
        
          <% else  %>
		  <p align='center'>  <img src="http://cooper1.s3.amazonaws.com/sem_azul.jpg" /> </p>
    

          <% end %>
        </td>
		    <td><%= entrada.lote %></td>
	      <td><%= entrada.nf %></td>
        <td><%= l(entrada.receb) %></td>
        <td><%= l(entrada.validade) %></td>
        <td><%= link_to 'Mostrar', entrada  %></td>
        <td><%= link_to 'Editar', edit_entrada_path(entrada) %></td>
        <td><%= link_to 'Deletar', entrada, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
     </tr>
           <% end %>
 
 

        </tbody>
  </table>


<hr>

<h2> Saídas</h2>
<h4>Total=<%= @mp.saidas.sum(:qtde)%> litros</h4>

<table class="table table-striped">
  <thead>
    <tr>
    	<th>Lote</th>
      <th>NF de saída</th>
      <th>Data Saída</th>
      <th>Qtde</th>
      
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mp.saidas.each do |saida| %>
      <tr>
      	<td><%= saida.lote %></td>
        <td><%= saida.nf %></td>
        
        <td><%= l(saida.exped) %></td>
        <td><%= saida.qtde %></td>
        
        
      
       
              <td><%= link_to 'Mostrar', saida %></td>
              <td><%= link_to 'Editar', edit_saida_path(saida) %></td>
     

              <td><%= link_to 'Deletar', saida, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        
        
      </tr>

    <% end %>
    
  </tbody>
</table>


<hr>


