<%= form_for(@saida) do |f| %>
  <% if @saida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saida.errors.count, "error") %> prohibited this saida from being saved:</h2>

      <ul>
      <% @saida.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mp_id, 'Matéria Prima' %><br>
<%= f.collection_select(:mp_id ,  Mp.all.order(:id), :id, :nome, {:prompt => "Selecione a Materia Prima"})%>   </div>
  <div class="field">
    <%= f.label :exped, 'Data de saída' %><br>
    <%= f.date_select :exped %>
  </div>
  <div class="field">
    <%= f.label :qtde %><br>
    <%= f.text_field :qtde %>
  </div>
  <div class="field">
    <%= f.label :nf, 'Nota Fiscal de saída' %><br>
    <%= f.text_field :nf %>
  </div>
  <div class="field">
    <%= f.label :lote %><br>
    <%= f.text_field :lote %>
  </div>

  <div class="field">
    <%= f.label :obs %><br>
    <%= f.text_area :obs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
