<p id="notice"><%= notice %></p>

<p>
  <strong>Mp:</strong>
  <%= @saida.mp %>
</p>

<p>
  <strong>Exped:</strong>
  <%= @saida.exped %>
</p>

<p>
  <strong>Qtde:</strong>
  <%= @saida.qtde %>
</p>

<p>
  <strong>Nf:</strong>
  <%= @saida.nf %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @saida.lote %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @saida.validade %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @saida.obs %>
</p>

<%= link_to 'Edit', edit_saida_path(@saida) %> |
<%= link_to 'Back', saidas_path %>
