<p id="notice"><%= notice %></p>

<p>
  <strong>Mp:</strong>
  <%= @entrada.mp.nome %>
</p>

<p>
  <strong>Receb:</strong>
  <%= l(@entrada.receb) %>
</p>

<p>
  <strong>Qtde:</strong>
  <%= @entrada.qtde %>
</p>

<p>
  <strong>Nf:</strong>
  <%= @entrada.nf %>
</p>

<p>
  <strong>Lote:</strong>
  <%= @entrada.lote %>
</p>

<p>
  <strong>Validade:</strong>
  <%= l(@entrada.validade) %>
</p>

<p>
  <strong>Status:</strong>
  <%= @entrada.status.tipo %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @entrada.obs %>
</p>





<%= link_to 'Edit', edit_entrada_path(@entrada) %> |
<%= link_to 'Back', entradas_path %>
