
<td>
  <ul class= "nav nav-pills">
    <li class= "active ">
      <%= link_to '+', new_batch_path %>
    </li>
  </ul>
</td>




<h1>Lista de batches</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Data</th>
	  <th>Batch -No </th>
	  <th>Produto</th>
      <th>Entrega</th>
      <th>Volume(lt)</th>
	

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= l(batch.data) %></td>
		<td><%= batch.numero%></td>
		<td><%= batch.formula.nome%>
        <td><%= batch.data_entrega %></td>
        <td><%= batch.volume %> </td>

     	<td>
        <ul class="nav nav-pills">
          <li class="active">
            <%= link_to 'Show', batch %>
          </li>
        </ul>
      </td>

      <td>
        <ul class= "nav nav-pills">
          <li class= "active">
            <%= link_to 'Edit', edit_batch_path(batch) %>
            
          </li>
        </ul>
      </td>
   
       <td>
         <ul class="nav nav-pills">
           <li class= "active">
             <%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %>
           </li>
         </ul>
       </td> 
              </tr>
    <% end %>
  </tbody>
</table>

<br>

