<p id="notice"><%= notice %></p>

 


<h1 align='center'> <strong><%= @batch.formula.nome %></strong></h1>


<h2 align='right'>
  <strong>  Batch  Nr:</strong>
	<%=  @batch.created_at.to_i %></br>
	<strong> Data:</strong>
	<%=  l(@batch.data) %>
	
	
</h2>

<p>
  <strong>Formula/Produto:</strong>
  <%= @batch.formula.nome %>
</p>



<p>
  <strong>Data entrega:</strong>
  <%= l(@batch.data_entrega) %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @batch.volume %> Lts
</p>







<h1>Lista de Materias Primas para o Batch </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Formula</th>
      <th>Matéria Prima</th>
      <th>Qtde</th>
    </tr>
  </thead>
            <% @acu = 0  %>
  <tbody>
    <% @lista.each do |lista| %>
      <tr>
        <td><%= lista.formula.nome%></td>
        <td><%= lista.mp.nome %></td>
        <td><%=  @a = (lista.qtde/1000)*@batch.volume %> lts</td>
        <% @acu = @a +@acu %>


        
      </tr>
	  

    <% end %>
        <tr>
           <td></td>
           <td align= 'right'><h3>Soma total dos volumes =</h3></td>
           <td><h3><%= @acu %> lts</h3></td>
         </tr>
	
  </tbody>
</table>


          


<br>

<%= link_to 'Editar', edit_batch_path(@batch) %> |
<%= link_to 'Voltar', batches_path %>





<hr>




















