<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Coopersystem" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Coopersystem" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
         <p> Olá , <%= :current_user  %> </p>
    
  <% if user_signed_in? %>
  
  <div class='space'>coopersystem.srv.br</div>
  
    <p align='center'>  <img src="http://cooper1.s3.amazonaws.com/lb4A.jpg"  width="100%" height="20%" /> </p>

      <td><ul class="nav nav-pills">
        <li class="active"><%= link_to 'Batches', batches_path %>
        <li class="active"><%= link_to 'Embalagens', embalagens_path %>


        <li class="active"><%= link_to 'Formulas', formulas_path %>
        <li class="active"><%= link_to 'Materias Primas ', mps_path %>



        
        <li class="active"><%= link_to 'Entradas', entradas_path %></li>
        <li class="active"><%= link_to 'Saídas ( Orgânicas ) ', saidas_path %>
        <li class="active"><%= link_to 'Saídas ( Físicas ) ', saidafisicas_path %>

       
			
			
    </a></li> </ul></td>

<%end%>



    <main role="main">

    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
